.about-container{
    padding: 100px;
}

.about-title-container{
    margin-top: 100px;
    animation: travellUp 0.5s 1;
    animation-delay: 0.1s;
    animation-fill-mode:forwards;

    opacity: 1;
    transition: opacity 0.3s linear;
}
/* .about-title-container>img{
  
    animation: travellUp 0.5s 1;
    animation-delay: 0.1s;
    animation-fill-mode:forwards;
   
} */
@keyframes travellUp {
    from {margin-top: 100px;}
    to {margin-top: 0px}
  }
.about-text-wrapper{
    padding: 80px;
}
.about-title{
    font-family: 'Fredoka';
    color: white;
    font-size: 35px;
}
.about-text{
    font-family: 'Fredoka';
    color: white;
    font-size: 35px;
}
.about-final{
    font-family: 'Fredoka';
    color: white;
    font-size: 25px;
}