.about-container{
    padding: 100px;
}
.about-text-wrapper{
    padding: 80px;
}
.about-title{
    font-family: 'Fredoka';
    color: white;
    font-size: 35px;
}
.about-text{
    font-family: 'Fredoka';
    color: white;
    font-size: 35px;
}
.about-final{
    font-family: 'Fredoka';
    color: white;
    font-size: 25px;
}