.design-title-container{
    height: 17vh;
}
.design-container{
    padding: 100px 100px 0 100px;

}
.design-text-container{
    padding: 0px 50px 0 50px;
}
.design-text{
    font-size: 32px;
    text-align: justify;
    text-justify: inter-word;
    color: white;
    font-family: 'Fredoka';
}

.card-images-container{
    width: 100%;
    height: 30vh;
    display: flex;
    margin-top: 20px;
}
.arrow-container{
    width:6%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-container>img:hover{
    cursor: pointer;
}

.scrollabe-card-wrapper{
    display: flex;
    overflow-x: auto;
}

.design-card-container{
    width: 20%;
}
.design-fade-in{
    width: 100%;
    height: 60vh;
    opacity: 1;
    transition: opacity 0.3s linear;
}
.design-fade-out{
    opacity: 0.2;
    /* backdrop-filter: blur(6px); */
    filter: blur(10px);
    /* transition: 0.5s -webkit-filter linear; */
}
.design-modal{
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}