.main-container{
    width: 100%;
    height: 92vh;
    display: flex;
}
.left-container{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}
.left-container>img{
    margin-left: 20%;
}
.right-container{
    width: 60%;
    height: 100%;

}
.right-container>div{
    /* display: inline-block; */
    width: fit-content;
}
.right-container>div>p{
    font-family: 'Fredoka';
    font-size: 30px;
    letter-spacing: 2px;
    width: 100%;
}
.right-container>div>p:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #D9D1FF;
    transition: 0.5s;
}
.text0{
    margin-top: 11.5%;
    margin-left: 13.5%;
}
.text1{
    margin-top: 13.4%;
    margin-left: 5.5%;
    opacity: 1;
}
.text2{
    margin-left: 66%;
}
.text3{
    margin-left: 37.5%;
}
.text4{
    margin-top: 5.8%;
    margin-left: 4.4%;
}
.text5{
    margin-left: 55.3%;
}
.upper-fade-out>img{
    animation: travelUp 0.5s 1;
    animation-delay: 0;
    animation-fill-mode:forwards;
    opacity: 0;
    transition: opacity 0.3s linear;

}

@keyframes travelUp {
    from {margin-bottom: 0;}
    to {margin-bottom: 50%;}
  }