.main-container{
    /* width: 100%; */
    /* height: 92vh; */
    /* display: flex; */
   
}
.modal-wrapper{
    position: absolute;
    width: 100%;
    height: 92vh;
}
.body-wrapper{
    display: flex;
    height: 92vh;
    position: relative;
}
.arrow-container{
    /* background-color: white; */
}
.left-container{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: black; */
    flex-direction: column;
}
.left-container>img{
    margin-left: 40%;
    margin-top: 20%;
}
.right-container{
    width: 60%;
    height: 100%;

}
.right-container>div{
    /* display: inline-block; */
    width: fit-content;
}
.right-container>div>p{
    font-family: 'Fredoka';
    font-size: 30px;
    letter-spacing: 2px;
    width: 100%;
}
.right-container>div>p:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #D9D1FF;
    transition: 0.5s;
}
.text0{
    margin-top: 11.5%;
    margin-left: 13.5%;
}
.text1{
    margin-top: 13.4%;
    margin-left: 5.5%;
    opacity: 1;
}
.text2{
    margin-left: 66%;
}
.text3{
    margin-left: 37.5%;
}
.text4{
    margin-top: 5.8%;
    margin-left: 4.4%;
}
.text5{
    margin-left: 55.3%;
}
.css-arrow{
    width: 80px;
    height: 80px;
    animation:arrow-blink 1s infinite; 
}
.gif-container>img{
    width: 500px;
    height: 500px;
    margin-left: 45%;
    margin-top: 20%;    
}
@keyframes arrow-blink {
    0%   { opacity: 0;}
    100% { opacity: 1; 
      }
    
  }
/* .css-arrow{
    width: 40px;
    height: 40px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(45deg);
    z-index: 1;
    position: absolute;
} 
.css-arrow{
    width: 60px;
    height: 60px;
    z-index: 1;
    position: absolute;
} 


.hide-arrow{
    z-index: 2;
    width: 45px;
    height: 70px;
    background-color: black;
    position: absolute;
    margin-top: 10px;
    margin-left: 3px;
    animation: arrowBlink 2s infinite; 

} 

@keyframes arrowBlink {
    0%   {margin-left: 3px;}
    100% {margin-left: -35px;}
}  */
