.cross-button{
    position: absolute;
    margin-left: 50%;
    margin-top: 4%;
}
.open-animation>img{
    animation: travelRight 0.5s 1;
    animation-delay: 0.1s;
    animation-fill-mode:forwards;
}

@keyframes travelRight {
    from {margin-left: 50%;}
    to {margin-left: 80vh;}
  }

.close-animation>img{
    animation: travelLeft 0.5s 1;
    animation-delay: 0.1s;
    animation-fill-mode:backwards;
}
@keyframes travelLeft {
    from {margin-left: 80vh;}
    to {margin-left: 50%;}
  }
.cross-button>img:hover{
    cursor: pointer;
}